body {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative; /* To ensure content is layered correctly */
}

h1, h2, h3, p {
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d1117; /* Dark background for contrast */
    z-index: -1; /* Place particles behind content */
}

header {
    text-align: center;
    margin-top: 20px;
}

.hero-title img {
    max-width: 100%;
}

section {
    padding: 20px;
    margin: 20px 0;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}

.social-links a img {
    margin: 0 10px;
}

.skill-icons img {
    margin: 5px;
}

.stat-images img {
    margin: 10px;
}

.github-stats-images img {
    margin: 10px;
}

.hobbies-links a {
    margin: 10px;
}
